header {
    margin: 0 auto;
    height: 5%;
}
*:focus {
    outline: 0;
}
button:focus{
    outline-style: none !important;
}
.width-60 {
    width: 60%;
}
.width-64 {
    width: 64%;
}
.width-92 {
    width: 92%;
}
.width-96 {
    width: 96%;
}
.margin-right-10px {
    margin-right: 10px;
}
.modalPaddingTop {
    padding-top: 3%;
}
.signInModalPadding {
    padding-top: 10%;
}
.formFieldBottom {
    margin-bottom: 3%;
}
.cursorPointer {
    cursor: pointer;
}
.homeTheme {
    background: transparent;
}
.headerContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logoWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logoText {
    color: #4733FF;
    font: 25px 'Montez', cursive;
}
.logoSubText {
    color: #000000;
    font-size: 14px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}
.userDetailBtn {
    background-color: #4733FF;
    border: none;
    color: #ffffff;
    margin-top: 5px;
    padding: 5px 15px 5px 15px;
    border: 1px #cccccc solid;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.formActionBtn {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: #ffffff;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.userFormContent {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.footerSubText {
    font-weight: bold;
    padding: 2% 25% 0 0;
    text-decoration: none;
}
.footerSubText > a {
    text-decoration: none;
}
.customModalFooter {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
}
.customModalHeader {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #cccccc;
    padding: 15px 0px 10px 0px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    color: #707070;
}
.modalPosition {
    display: flex;
    align-items: center;
}
.modal {
    color: #000000;
    background-color: rgba(0,0,0,0.4);
}
input[name="name"], input[name="userName"], input[name="userPassword"], input[name="confirmPassword"], 
input[name="signInName"], input[name="signInPassword"] {
    background: #eeeeee;
}