header {
    margin: 0 auto;
    height: 5%;
}
.width-60 {
    width: 60%;
}
.width-64 {
    width: 64%;
}
.padding-top-10px {
    margin-right: 10px;
}
.margin-right-10px {
    margin-right: 10px;
}
.padding-bottom-10px {
    margin-right: 10px;
}
.margin-left-10px {
    margin-right: 10px;
}
.cursorPointer {
    cursor: pointer;
}
.homeTheme {
    background: transparent;
}
.headerContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logoWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logoText {
    color: #4733FF;
    font: 25px 'Montez', cursive;
}
.logoSubText {
    color: #000000;
    font-size: 14px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}
.userDetailBtn {
    background-color: #4733FF;
    border: none;
    color: #ffffff;
    margin-top: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.formActionBtn {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: #ffffff;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.userFormContent {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.footerSubText {
    font-weight: bold;
    padding-right: 25%;
    text-decoration: none;
}
.footerSubText > a {
    text-decoration: none;
}
.modal {
    color: #000000;
}
input[name="name"], input[name="userName"], input[name="userPassword"], input[name="confirmPassword"], 
input[name="signInName"], input[name="signInPassword"] {
    background: #eeeeee;
}