body { 
    margin: 0 auto;
    background: #ffffff url("../images/background.jpg") no-repeat fixed top;
}
.postWrapperWidth {
    width: 13%;
}
.postActionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.postActionWrapper > button {
    background: #FFD333;
    color: #000000;
    border: none;
    padding: 5px 15px 5px 15px;
    border: 1px #cccccc solid;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.createPostBtnWidth {
    width: 20%;
}
.createPostBtn {
    background: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 5px 15px 5px 15px;
    border: 1px #cccccc solid;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
input[name="createPostTitle"], textarea[name="createPostComment"] {
    background: #eeeeee;
}
.createPostfooter {
    width: 100%;
    padding-left: 45%;
}

/* Media queries for screen size uptil width 1024px */
@media only screen and (max-width: 1024px) {
    .postWrapperWidth {
        width: 20%;
    }
    .postActionWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* Media queries for screen size uptil width 800px */
@media only screen and (max-width: 800px) {
    .postWrapperWidth {
        width: 27%;
    }
    .createPostBtnWidth {
        width: 28%;
    }
    .postActionWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        margin-top: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* Media queries for screen size uptil width 460px */
@media only screen and (max-width: 460px) {
    .postWrapperWidth {
        margin-top: 60%;
        width: 56%;
    }
    .createPostBtnWidth {
        width: 38%;
    }
}